:host {
  width: 80%;
}
table {
  width: 100%;
}
.mat-column-name {
  width: 60%;
}

.mat-column-speed {
  width: 20%;
}

.mat-column-action {
  width: 20%;
}

.sync-speed {
  margin: auto 0
}

.green {
  color: green;
}
.d-inline {
  display: inline-block;
}

.d-flex {
  display: flex;
  width: 100%;
}

.align-center {
  align-items: center;
}